################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages.config
*.exclude
/.vs
*.bak
/.cache
/images
/dist
*.zip
